body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 20px;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: #555;
    border-radius: 5px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;;
}